@import "color.css";

ul {
    list-style: inside;
}

p {
    font-size: 17px;
    line-height: 28px ;
    text-align: justify;
}

.common-heading > span {
    color: var(--secondary); /*#e60072;*/
    font-weight: bold;
    /*text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 15px 0;
    display: block;*/
}

.bg-btn {
    background: #0472A2;
    background: -moz-linear-gradient(left, #0472A2 0%, #0472A2 100%);
    background: -webkit-linear-gradient(left, #0472A2 0%,#0472A2 100%);
    background: linear-gradient(to right, #0472A2 0%,#0472A2 100%);
    -webkit-box-shadow: unset; /*0 10px 15px 0px rgb(175 0 87 / 20%);*/
    box-shadow: unset; /*0 10px 15px 0px rgb(175 0 87 / 20%);*/

    color : var(--yellow);
}


.bg-gradient1 {
    background: #0472A2;
    background: -moz-linear-gradient(top, #0472A2 0%, #fff9f4 100%);
    background: -webkit-linear-gradient(top, #0472A2 0%,#fff9f4 100%);
    background: linear-gradient(to bottom, #0472A2 0%,#fff9f4 100%);
}

.nxlp-b {
    background: linear-gradient(to right, #e4e55d 0%,#0472A2 100%);
}