@import "color.css";
@import "niwax.css";
@import "header-and-display.css";
@import "spacing.css";

.h-100vh{
    height: 100vh !important;
}


h1, h2{
    color:  var(--primary);
}

h3, h4,h5{
    color: var(--secondary);
}




.text-bold {
    font-weight: bold !important;
}

.text-left {
   text-align: left !important; ;
}

.text-right {
   text-align: right ;
}

.b-0{
    bottom: 0 !important;
}

.h-100vh{
    height: 100vh !important;
}

.h-90vh{
    height: 90vh !important;
}

.c-primary{
    color : var(--primary) !important;
}

.c-success{
    color : var(--success) !important;
}

.c-secondary{
    color : var(--secondary) !important;
}

.c-tertiary{
    color : var(--tertiary) !important;
}

.c-white{
    color : var(--white) !important;
}

.c-highligh{
    color : var(--primary) !important;
}

a{
    color : var(--primary);
    font-weight: bold;
}

.souligne{
    border-bottom:1px outset;
}

.border-warning{
    color : var(--warning) !important;
}

.border-white{
    color : var(--white) !important;
}

.rounded-2_75{
    border-radius: 2.75rem !important;
}

.lh-1_5{
    line-height: 1.5rem !important;
}

.lh-2{
    line-height: 2rem !important;
}

.lh-3{
    line-height: 3rem !important;
}

.lh-4{
    line-height: 4rem !important;
}

.ws-1{
    word-spacing: 1rem !important;
}

@media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 800px;
    }
}

.bg-btn-secondary {
    background: #ffbd84;
    background: -moz-linear-gradient(left, #ffbd84 0%, #c8c7c1 100%);
    background: -webkit-linear-gradient(left, #ffbd84 0%,#c8c7c1 100%);
    background: linear-gradient(to right, #ffbd84 0%,#c8c7c1 100%);
    -webkit-box-shadow: 0 10px 15px 0px rgb(175 0 87 / 20%);
    box-shadow: 0 10px 15px 0px rgb(175 0 87 / 20%);
}
/*

.bg-gradient1 h1{
    color : var(--white) !important;
}*/

.bg-primary{
    background: var(--primary) !important;
}